.topo{
    background-image: url('https://citygroundbr.files.wordpress.com/2020/10/cropped-capa-wordpress-copy.png');
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 100%;
}
.logo{
    padding-top: 2rem;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.icones{
    margin-left: 10px;
    margin-right: 10px;
}